body{
    background-color: seashell;
}
.title{
    background-color: lightgrey;
    text-align: center;
    padding: 2rem;
}
.row{
    
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

